#root {
  position: relative;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 1200px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;

  margin: 0 auto;
  padding: 64px;
}

section {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding: 8px 12px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.12);
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;

  padding: 16px;
  border-radius: 8px;

  background-color: rgba(255, 255, 255, 0.12);
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.fullscreen {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;
  border-radius: 0;
}

.opacity {
  opacity: 0.5;
}